

:root {
    --primary-color: #ad1888;
    --secondary-color: #42042f;
    --secondaryfade-color: #69064b;
    --text-color: #ffffff;
    --bwhite: #fff1e4;
    --black: #000000;

}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lexend,'Arial Narrow Bold', sans-serif;
}
body{
    width: 100%;
    background: var(--secondary-color) !important;
    h1, p {
        color: var(--text-color) !important;
    }
}

header {
    background: var(--primary-color) !important;
    color: var(--black) !important;
}

nav a:hover {
  font-size: 20px;
  transition: .2s;
}
nav ul, li, a{
    color: var(--text-color);
}

h1 {
  color: #7A28CB; 
}

.Pparte{
background-color: var(--text-color);
padding: 150px;
}

.titulop{
    color: var(--text-color) !important;
    font-size: 125px;
    text-align: center;
}

.card-text{
    color: #000 !important;
}
.card-custom {
  background-color: #ffffff;
  color: #000000;
  border: 1px solid #eeeeee;
  transition: box-shadow 0.3s ease;
}
.card-section{
font-size: 35px;
color: var(--text-color) !important;
padding-left: 35px;
}
.card-body {
  background-color: var(--bwhite) !important;      

}
.card-title{
  color: var(--black);
}
.card-custom:hover {
  box-shadow: 0 0 10px rgba(122, 40, 203, 0.3); /* roxo suave ao passar o mouse */
}

@media screen and (max-width: 768px) {
    .card h-30 {
width: 100%;
    }
    .titulop {
        font-size: 80px;
    }
    .card-text {
        font-size: 18px;
    }
    .btn {
        font-size: 86px;
    }
  
}
.btn {
  margin: auto;
}
        #carousel-img {
            width: 100%;
            height: auto;
            transition: opacity 1s ease-in-out;
        }

        .fade-out {
            opacity: 0;
        }

        .fade-in {
            opacity: 1;
        }

        .carousel-container {
            width: 100%;
            max-width: 400px; /* define o tamanho da imagem */
            margin-left: 20px; /* espaço da esquerda */
            margin-top: 50px;
        }

        @media (max-width: 576px) {
            .carousel-container {
                max-width: 90%; /* reduz o tamanho em telas pequenas */
                margin-left: 10px;
            }
        }