:root {
    --primary-color: #ca0098;
    --secondary-color: #42042f;
    --text-color: #ffffff;
    --bwhite: #e6e6e6;
    --black: #000000;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}
body{
    width: 100%;
    background: var(--secondary-color) !important;
    h1, p {
        color: var(--text-color) !important;
    }
}

header {
    background: var(--primary-color) !important;
}


ul li a:hover{
color: rgb(255, 0, 191);
text-decoration: none;
}

.Pparte{
background-color: rgb(70, 9, 54);
padding: 150px;
}

.titulop{
    color: var(--text-color) !important;
    font-size: 125px;
    text-align: center;
}

.bg-roxo{
    background-color: var(--secondary-color) !important;
    padding: 15px;
    justify-content: center;
    h1, p {
        color: var(--text-color) !important;
    }
}
