
body{
    width: 100%;
    
}

nav {
    background-color: black;
    padding: 35px;
    img {
        border: 0;
        border-radius: 100px;
        width: 100px;
        position: absolute;
        left: 20px;
        top: 5px;
    }
}

ul li .nav-link, .nav-item{
color: white;
text-decoration: none;
}

ul li a:hover{
color: rgb(255, 0, 191);
text-decoration: none;
}

.Pparte{
background-color: rgb(70, 9, 54);
padding: 150px;
}

.titulop{
    color: #ffffff;
    font-size: 125px;
    text-align: center;
}